@use "@/sass/helpers/variables" as *;
@use "@/sass/helpers/mixins" as *;

.partners {
    padding: 80px 0;
    background: $color-white;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
}