@use "@/sass/helpers/variables" as *;
@use "@/sass/helpers/mixins" as *;

.projectAndPrograms {
    padding: 8rem 2rem;
    background-color: $bg-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    overflow: hidden;

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2.5rem;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .card {
        background-color: $bg-card;
        padding: 3rem 2rem;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border: 1px solid rgba($color-primary, 0.02);

        position: relative;
        overflow: hidden;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

        &:hover {
            scale: 1.02;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(90deg, $color-primary, $color-secondary);
            opacity: 1;
            transition: opacity 0.3s ease;
        }



        svg {
            font-size: 5rem;
            color: $color-off-white;
            margin-bottom: 2rem;
            transition: all 0.3s ease;
            background-color: $color-secondary-dark;
            padding: 1rem;
            border-radius: 50%;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 1.2rem;
            color: $color-primary-dark;
        }

        p {
            font-size: 1.1rem;
            color: $text-secondary;
            line-height: 1.7;
        }
    }

    .btn {
        @include primary-link;
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .projectAndPrograms {
        padding: 5rem 1.5rem;

        .cards {
            grid-template-columns: 1fr;
            max-width: 400px;
        }
    }
}