@use "@/sass/helpers/variables" as *;

@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}


@mixin grid($size: 140px, $gap: 0) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($size, 1fr));
    gap: $gap;
}

@mixin primary-link {
    padding: 1rem 2.5rem;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 4px 15px rgba($color-primary, 0.3);

    &:hover {
        background-color: $color-primary-light;
        transform: translateY(-3px);
        box-shadow: 0 6px 20px rgba($color-primary, 0.4);
    }

    @content;
}