@use "../../helpers/variables" as *;
@use "../../helpers/mixins" as *;

.project_and_programs {

    .banner {
        @include banner-section("@/assets/projects/hero.webp");
    }

    .hero {
        width: 80%;
        height: 80vh;
        margin: 3rem auto;
        padding: 0 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        @media (max-width: 768px) {
            width: 100%;
            height: 50vh;

        }


    }

    .influence {

        margin: 2rem;

        .cards {
            @include grid(140px, 2rem);

            .statistic {
                @include flex(column, center, center, 0);
                padding: 2rem;
                background-color: $color-white;
                border-radius: 10px;
                box-shadow: $shadow-soft;

                strong {
                    font-size: clamp(2rem, 4vw, 4rem);
                    font-weight: bold;
                    color: $color-primary;
                }

                span {
                    font-size: clamp(1rem, 2vw, 1.8rem);
                    color: $color-secondary;
                }
            }
        }
    }
}